<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cycle.min.js"></script>
<div id="slider_{{id}}">
 <script language="javascript" type="text/javascript">

 $(window).load(function(){
    if($('#top_banners .pics *').length){
        $('#top_banners .pics').cycle({
          pager:    '#carousel_nav',
          fx:       'fade',
          speed:    700, 
          timeout:  5000,
          pagerAnchorBuilder: function(){
            return '<a href="#"></a>';
          }
        });
      }else if( $('#top_banners .pics img').length < 1 ){
        $('#top_banners').remove();
      }
 });
</script>
<div id="top_banners">

<div id="carousel_nav"></div>
<div class="pics">
{% for img in images %}
<a href="/" style="background: url({{img.image}}) ;"></a>
{% endfor %}
</div>
</div>
 <div id="tovar_day" class="tovar_day vproduct empty">
    {# static_block "service_img" #}
</div>
</div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    mediator.subscribe("document_ready", function(){
    $('#middle-slot-container').prepend($('#slider_{{id}}'))
})();
</script>
