{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}


{% if categories %}

    <div class="featured-products-portlet portlet">
        <div class="portlet-body">
            {# -----------------------PRODUCTS SLIDESHOW------------------------------------ #}
             <div class="menu_catalog" id="production">
                {% for category in categories %}
                <div class="menu_item">
                    <h3><a title="Комплектующие" href="{{ category.get_absolute_url }}">{{ category.name }}<span class="count">({{ category.product_count }})</span></a></h3>
                    {% if not category.is_leaf_node %} 
                    <ul>
                    {% for item in category.get_children|slice:'5' %}
                        <li>
                        <a href="{% url lfs_category item.slug %}">{{ item.name }}<span class="count">({{ item.product_count }})</span></a>
                        </li>
                    {% endfor %} 
                    </ul>
                    <a title="{{ category.name }}" href="{{ category.get_absolute_url }}" class="all"> Все {{ category.name }}    &rarr;</a> 
                    {% endif %}
                </div>
            {% endfor %}
            </div>
            </div>
            {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}
        </div>{# portlet-body #}
{% endif %}
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    mediator.subscribe("document_ready", function(){
    $('#middle-slot-container').prepend($('#slider_{{id}}'))
})();
</script>