{% load i18n %}
{% load lfs_tags %}
<div class="filter-portlet-container">
{% if show and product_filters %}
<div id="left_column" class="left_column ">
<div class="left_column_wrapper">
{#         <h4>{{ title }} <a href="{% url lfs_category category.slug %}" title="{% trans 'Reset all' %}"><i class="icon-remove-circle"></i></a></h4> #}


        <input type='hidden' id="use_after_choose" value='{{ use_after_choose }}' />
        <form id="filter-portlet-form-{{ slot_name }}-{{ portlet_id }}" method="GET">
            {% for filter in product_filters %}
                <div class="filter-block">        
                    {% include filter.template_name %}
                </div>
            {% endfor %}
            <div class="filter-actions">
                <button class="btn btn-info form_submit" type="submit">{% trans "Go" %}</button>
            </div>
        </form>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
</div>
</div>
{% endif %}
</div>