{% load i18n %}
<ul class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
    <li>
        <span typeof="v:Breadcrumb">
        <a href="{% url lfs_shop_view %}" rel="v:url" property="v:title">Главная страница</a>
            {% if objects %}<span class="divider">|</span>{% endif %}
        </span>
    </li>
    {% for object in objects %}
        <li typeof="v:Breadcrumb">
            
            {% if forloop.last %}
                {{ object.name }}
            {% else %}
                <a href="{{ object.url }}" rel="v:url" property="v:title">
                    {{ object.name }}</a> <span class="divider">|</span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
