{% load bootstrap_toolkit %}
{% load i18n %}
{% if messages %}
    {% for m in messages %}
        <div class="msg0-alert alert alert-{{ m.tags }}">
            <a class="close" data-dismiss="alert" href="#">×</a>
            {{ m }}
        </div>
    {% endfor %}

{% endif %}
{% if not form_success %}
        {% if form_definition.title %}<h2>{{ form_definition.title }}</h2>{% endif %}
        {% if form_definition.body %}<p>{{ form_definition.body|linebreaksbr }}</p>{% endif %}

    <form name="{{ form_definition.name }}" action="/forms/{{ form_definition.name }}/" method="{{ form_definition.method }}" enctype="multipart/form-data" class="form form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap:"horizontal" }}
        </fieldset>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% if form_definition.submit_label %}{{ form_definition.submit_label }}{% else %}{% trans "Submit" %}{% endif %}</button>
        </div>
    </form>
{% endif %}