{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}
{# load regions_tags #}
{% load vertical_menu_tags %}
{# {% load snippets_tags %} #}

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="nl"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="nl"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="nl"><![endif]-->
<!--[if IE]><html class="no-js ie" lang="nl"><![endif]-->
<!--[if !IE]><!--><html class="no-js" lang="{{ LANGUAGE_CODE }}"><!--<![endif]-->
<head>
    {# {% snippets 'Head top' %} #}
    <meta charset="utf-8">
    <meta name="author" content="7bits and aquaweb">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{{ SHOP.get_meta_title }}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png" />
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=McLaren">
    <script>__locale='{{ LANGUAGE_CODE }}';</script>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-themes/light/light.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui/css/custom-theme/jquery-ui-1.9.2.custom.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/jquery.jgrowl.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/superfish.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/colorbox.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dcmegamenu.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/white.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.less" charset="utf-8">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/styles.styl" charset="utf-8">
        <link type="text/stylus" rel="stylesheet"
            href="{{ STATIC_URL }}styles/vertical_slider.styl" charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.custom.css">
        <link type="text/stylus" rel="stylesheet" href="{{ STATIC_URL }}styles/styles.custom.styl" charset="utf-8">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/bar/bar.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}nivo-themes/light/light.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/vertical_menu.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/skin/skin.css" />
    {% endcompress %}

    {% compress js %}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/gettext.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/ru.coffee" />
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/locale/uk.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/respond.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui.min.js"></script>
        <!-- <script type="text/javascript" src="{{ STATIC_URL }}jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script> -->
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.form.pack.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.jgrowl_minimized.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lfs.js"></script>
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/shop.coffee" />
        {# All plugins should be loaded after this line #}
        <script type="text/coffeescript" charset="utf-8" src="{{ STATIC_URL }}src/vertical_slider.coffee" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.colorbox-1.3.19.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcmegamenu.1.3.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/maskedinput.js"></script>

        <script  type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.custom.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/script.custom.coffee"></script>
    {% endcompress %}

    {% include 'lfs/extra_css.html' %}

    {# {% snippets 'Head bottom' %} #}
</head>
<body class="{% block section %}{% endblock %}">
    {# {% snippets 'Body top' %} #}
    {% seo_text category %}
    <div id="wrap">
    <div class="header-shadow"></div> {# Div for shade line #}
    <div class="container"> {# Use class "container-fluid" on the following div for making complete website fluid #}
        <div id="top-bar-container"> {# Client script use this container for insert top bar here by ajax #}
            <img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif">
        </div>
        <div class="row-fluid print-hide">
            {% block header %}
            <div class="span4">
                <a href="/"><img src="{% if SHOP.image %}/media/{{ SHOP.image }}{% else %}{{ STATIC_URL }}img/logo2.png{% endif %}" alt="Logo" id="logo"></a>
                {# show_regions #}
            </div>
            <div class="span6">
                <div class="row-fluid print-hide">
                    <div class="span12">
                        {% include "lfs/search.html" %}
                        {# <a href="/callback" class="modal-link pull-right">{% trans "Callback" %}</a> #}
                    </div>
                </div>
            </div>
            <div class="span2">
                {# Client script use this container for load cart here by ajax #}
                <div id="cart-container"><img src="{{ STATIC_URL }}img/horizontal-ajax-loader.gif"></div>
            </div>
            {% endblock %}
        </div>
        <div class="row-fluid print-hide">
            {% vertical_menu %}
        </div>
     {# {% vertical_menu %} #}
    
   <div id="content">
        <div class="row-fluid">
            {% block wrapper %}
                {% block left-slot-wrapper %}
                    {# if SlotLeft #}
                        <div id="left-slot-container"> {# Class is set automatically #}
                            <div class="left-slot">
                                {% block left-slot %}{% lfs_portlet_slot 'Left' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}           
                <div id="middle-slot-container"> {# Class is set automatically #}
                    {% if main_page %} 
                    <div id="tovar_day" class="tovar_day vproduct empty">
                        {% static_block "service_img" %}
                        <div id="online_cons">{% static_block "online_cons" %}</div>
                    </div>
                    {% endif %}
                    <div class="middle-slot">
                        <div class="row-fluid"><div class="span12">
                        {% if not main_page %}  <div id="breadcrumb">{% block breadcrumbs %}{% endblock %}</div> {# Div for breadcrumbs #} {% endif %}
                        {% block middle-slot %}
                        {% if main_page %}{% lfs_portlet_slot 'Middle' %}{% endif %}{% endblock %}
                        {% block content %}{% endblock %}
                        </div></div>
                    </div>
                </div>
                {% block right-slot-wrapper %}
                    {# if SlotRight #}
                        <div id="right-slot-container"> {# Class is set automatically #}
                            <div class="right-slot">
                                {% block right-slot %}{% lfs_portlet_slot 'Right' %}{% endblock %}
                            </div>
                        </div>
                    {# endif #}
                {% endblock %}
            {% endblock %}

        </div>
    </div>
    </div>
    <div id="push"></div>
    </div>

 
<div id="footer_wrapper">
<div id="footer_wrapper2">
<hr class="footer" />
<div id="footer">
<div class="copyright">
<p class="copy">&copy; Интернет-магазин бытовой техники</p>
<div class="vcard">
<p><a href="/" class="url fn">shop.nexcomp.ru  2010-2013</a></p>
</div>
</div><!-- end div copyright -->

<div class="social_links">
<p>Будьте в курсе обновлений</p>
<a class="facebook" target="_blank" href="#"><img src="/static/img/facebook.png" /></a>
<a class="vkontakte" target="_blank" href="http://vkontakte.ru/club31294845"><img src="/static/img/vkontakte.png" /></a>
<a class="odnoklassniki" target="_blank" href="http://www.odnoklassniki.ru/cdk/st.cmd/anonymLogin/st.redirect/%252Fgroup%252F54038164799508/tkn/5854">
<img src="/static/img/odnoklassniki.png" /></a>
<a class="mailru" target="_blank" href="#"><img src="/static/img/moi-mir.png" /></a>
</div><!-- end div social_links -->

<div class="oplata">
<p>Принимаем к оплате</p>
<img src="/static/img/visa.png" />
</div>

<div class="aqua">
<p><a href="http://www.aquaweb.com.ua/read/ru/sozdanie-internet-magazina" title="Cоздание интернет-магазина" target="_blank">Cоздание интернет-магазина</a></p>
<a href="http://www.aquaweb.com.ua/read/ru/sozdanie-internet-magazina" title="Cоздание интернет-магазина" target="_blank"><img title="Cоздание интернет-магазина" alt="Cоздание интернет-магазина"  src="/static/img/aqua.png" /></a>
</div>

</div><!-- end div footer -->
</div>
</div><!-- end div footer_wrapper -->




    {% include "lfs/modal.html" %}

    {% block google-analytics-tracking %}
        {% google_analytics_tracking %}
    {% endblock %}
    {% block google-analytics-ecommerce %}{% endblock %}


    {% if DEMO_MODE %}
        {% include "demo_tools/zendesk.html" %}
    {% endif %}

    {% block body_bottom %}
    <script>
    {% if not main_page %}
    mediator.publish('change_slots_width', "span3", "span9", "span9");
    config.left_portlet_count++;
    {% else %}
    mediator.publish('change_slots_width', "span3", "span12", "span12");
    {% endif %}
    </script>
    {% endblock %}

    {% include 'lfs/extra_js.html' %}

    {# {% snippets 'Body bottom' %} #}
</body>
</html>
