{% load i18n lfs_tags lfs_theme_tags lfs_portlets_tags sshop_tags compress cache %}
{# Search form #}
<div class="search-block">
{% static_block "tel_number" %}
<form class="form-search header-search" id="search-form" action="{% url lfs_search %}" autocomplete="off">
    <input type="hidden" name="livesearch" value="1" />
    <div class="input-append">
        <input id="search-input" name="q" autocomplete="off" data-url="{% url lfs_livesearch %}" class="search_text" type="text" placeholder="{{ SHOP.search_field_text }}">
        <button id="search_button" type="submit">{% trans 'Найти' %}</button>
    </div>
</form>
<p class="search_example">Например: <a href="/search?livesearch=1&q=Nikon+D700">Nikon D700</a></p>
<div class="livesearch-wrapper">
    <div id="livesearch-result" class="dropdown-menu"></div>
</div>
{% static_block "address" %}
</div>
<script type="text/javascript">
$('.form-search button:submit').click(function(){
    mediator.publish('search')
})
</script>