{% load i18n %}
{% load mptt_tags %}

<div id="header">
<div id="main_menu">
    
<div class="row-fluid">
    {% for top_category in categories %}
    <div class="link_{{ forloop.counter0 }} item_menu">
     <p><a title="{{ top_category.name }}" href="{% url lfs_category top_category.slug %}"><span>{{ top_category.name }}</span></a></p>
     {% if not top_category.is_leaf_node %}
      <div class="submenu">
       <div class="menuitem">
        {% if not top_category.is_leaf_node %}
            {% for category in top_category.get_children %} 
            <h4><a href="{% url lfs_category category.slug %}">{{ category.name }}</a></h4>
                {% if not category.is_leaf_node %}           
                <ul>
                    {% for item in category.get_children %}
                    <li>
                        <a href="{% url lfs_category item.slug %}">{{ item.name }}</a>
                    </li>
                    {% endfor %} 
                </ul>
                {% endif %} 
                {% if forloop.counter|divisibleby:top_category.extras.row %}
            {% if forloop.last %}
                </div>
            {% else %}
                </div>
                <div class="menuitem">
            {% endif %}
        {% endif %}
            {% endfor %}
            </div> 
        {% else %}    
            </div>                        
        {% endif %} 
    </div>  
    {% endif %}           
    </div>
{% endfor %}
</div>
<!-- End of main menu content -->
</div>
</div>
<script> 
    $(document).ready(function(){ 
        $("ul.sf-menu").superfish(); 
    }); 
</script>